# ignore everything by default
/*

# allow these
!/.gitignore
!/backend/
!/backend/**
!/frontend/
!/frontend/**
!/*.md

# still ignore env and build under backend
/backend/.env
/backend/.env.*
!/backend/.env.example
/backend/node_modules/

# ignore frontend build and dependencies
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env
/frontend/.env.*
!/frontend/.env.example
